/* Coolors Exported Palette - https://coolors.co/35524a-627c85-779cab-a2e8dd-32de8a */

/* CSS HEX */
--dark-slate-grey: #35524aff;
--darker-dark-slate-grey: #304a43ff;
--slate-grey: #627c85ff;
--steel-blue: #779cabff;
--pearl-aqua: #a2e8ddff;
--emerald: #32de8aff;
--emerald-depths: #0e5834ff;
--soft-sage: #e2e7e2ff;

/* CSS HSL */
--dark-slate-grey: hsla(163, 21%, 26%, 1);
--darker-dark-slate-grey: hsla(164, 21%, 24%, 1);
--slate-grey: hsla(195, 15%, 45%, 1);
--steel-blue: hsla(197, 24%, 57%, 1);
--pearl-aqua: hsla(171, 60%, 77%, 1);
--emerald: hsla(151, 72%, 53%, 1);
--emerald-depths: hsla(151, 73%, 20%, 1);
--soft-sage: hsla(120, 10%, 90%, 1);

/* SCSS HEX */
$dark-slate-grey: #35524aff;
$darker-dark-slate-grey: #304a43ff;
$slate-grey: #627c85ff;
$steel-blue: #779cabff;
$pearl-aqua: #a2e8ddff;
$emerald: #32de8aff;
$emerald-depths: #0e5834ff;
$soft-sage: #e2e7e2ff;

/* SCSS HSL */
$dark-slate-grey: hsla(163, 21%, 26%, 1);
$darker-dark-slate-grey: hsla(164, 21%, 24%, 1);
$slate-grey: hsla(195, 15%, 45%, 1);
$steel-blue: hsla(197, 24%, 57%, 1);
$pearl-aqua: hsla(171, 60%, 77%, 1);
$emerald: hsla(151, 72%, 53%, 1);
$emerald-depths: hsla(151, 73%, 20%, 1);
$soft-sage: hsla(120, 10%, 90%, 1);

/* SCSS RGB */
$dark-slate-grey: rgba(53, 82, 74, 1);
$darker-dark-slate-grey: rgba(48, 74, 67, 1);
$slate-grey: rgba(98, 124, 133, 1);
$steel-blue: rgba(119, 156, 171, 1);
$pearl-aqua: rgba(162, 232, 221, 1);
$emerald: rgba(50, 222, 138, 1);
$emerald-depths: rgba(14, 88, 52, 1);
$soft-sage: rgba(226, 231, 226, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #35524aff, #627c85ff, #779cabff, #a2e8ddff, #32de8aff);
$gradient-right: linear-gradient(90deg, #35524aff, #627c85ff, #779cabff, #a2e8ddff, #32de8aff);
$gradient-bottom: linear-gradient(180deg, #35524aff, #627c85ff, #779cabff, #a2e8ddff, #32de8aff);
$gradient-left: linear-gradient(270deg, #35524aff, #627c85ff, #779cabff, #a2e8ddff, #32de8aff);
$gradient-top-right: linear-gradient(45deg, #35524aff, #627c85ff, #779cabff, #a2e8ddff, #32de8aff);
$gradient-bottom-right: linear-gradient(135deg, #35524aff, #627c85ff, #779cabff, #a2e8ddff, #32de8aff);
$gradient-top-left: linear-gradient(225deg, #35524aff, #627c85ff, #779cabff, #a2e8ddff, #32de8aff);
$gradient-bottom-left: linear-gradient(315deg, #35524aff, #627c85ff, #779cabff, #a2e8ddff, #32de8aff);
$gradient-radial: radial-gradient(#35524aff, #627c85ff, #779cabff, #a2e8ddff, #32de8aff);